body {
    margin: 0;
    padding: 0;
}

/* Общие стили */

/* Параграф */
div.paragraph {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;
    height: 100px;
    background-color:rgb(250, 149, 211);
}

div.paragraph > div.round {
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    height: 150px;
    border-radius: 75px;
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
    color: rgb(250, 149, 211);
    font-style: italic;    
}

div.paragraph > div.round {
    line-height: 150px;
    text-align: center;
}

/* Кастомные поля ввода */
div.custom-input {
    position: relative;
    padding: 0;
    border: 3px solid rgb(250, 149, 211);
    color: #666;
    font-family: Arial, Tahoma;
    font-size: 1em;
    width: 400px;
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.custom-input > input {
    width: 100%;
    height: 40px;
    background: transparent;
    padding: 0 10px;
    border: none;
    color: #333;
    font-size: 1em;
    font-family: Arial, Tahoma;
    letter-spacing: 0.4em;
    font-weight: bold;
}

div.custom-input > input:focus {
    outline: none;
}

div.custom-input > span.custom-input-placeholder {
    position: absolute;
    font-size: 1em;
    color: rgb(250, 149, 211);
    font-family: Arial, Tahoma;
    top: -10px;
    left: 15px;
    background-color: #ffffff;
    padding: 0 10px;
    font-weight: bold;
}

/* Шапка сайта */
header {
    margin: 0;
    padding: 0;
}

header > div.banner {
    background-image: url(../img/she_wall.jpg);
    background-position: top center;
    background-size: cover;
    height: 700px;
}

header > div.banner {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 3fr 2fr;
}

/* Навигационное меню */
header > div.banner > .top-menu {
    justify-self: center;
    align-self: top;
}

header > div.banner > .top-menu > nav {
    padding: 10px;
}

header > div.banner > .top-menu > nav > ul {
    list-style-type: none;
    display: inline-block;
}

header > div.banner > .top-menu > nav > ul > li {
    float: left;
    margin: 15px;
}

header > div.banner > .top-menu > nav > ul > li > a {
    color: #ffffff;
    font-size: 1em;
    font-family: Arial, Tahoma;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);    
    cursor: pointer;
}

/* Лейбл */
header > div.banner > .label {
    justify-self: center;
    align-self: center;
}

header > div.banner > div.label > div.label-title {
    font-size: 9em;
    font-family: 'Permanent Marker', cursive;
    color: rgba(255,255,255,0.9);
    font-style: italic;
}

header > div.banner > div.label > div.label-caption {
    text-align: center;
    font-size: 1em;
    font-family: Arial, Tahoma;
    color: rgba(255,255,255,0.9);
    margin-top: -20px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

/* Свайп */
header > div.banner > div.sex-choose {
    justify-self: center;
    align-self: center;
}

header > div.banner > div.sex-choose > div.swipe-block {
    text-align: center;
}

header > div.banner > div.sex-choose > div.swipe-caption {
    font-size: 0.8em;
    font-family: Arial, Tahoma;
    color: rgba(255,255,255,0.9);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

header > div.banner > div.sex-choose img.swipe-finger {
    width: 128px;
    height: 128px;
    opacity: 0.7;
}

/* Секция с велосипедами */
section.bicycles {

}

section.bicycles > div.bikes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

div.bike-card {
    padding: 5px;
}


div.bike-card > div.bike-picture {
    position: relative;
    width: 480px;
    text-align: center;
}

div.bike-card > div.bike-picture > div.bike-picture-zoom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/zoom.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
}

div.bike-card > div.bike-picrure > img {width: 425px;}

div.bike-card > div.bike-title {
    width: 480px;
    text-align: center;
    font-size: 1.5em;
    color: #000;
    font-family: 'Permanent Marker', cursive;
}


div.bike-card > div.bike-characters {
    display: flex;
    justify-content: center;
    width: 480px;
    padding: 10px;
}

div.bike-card > div.bike-characters > table {
    width: 200px;
    font-size: 0.8em;
    font-family: Arial, Tahoma;
    color: #333;
    border-collapse: collapse;
    text-transform: uppercase;
}

div.bike-card > div.bike-characters > table td {
    border-bottom: 1px solid #333;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.bike-card > div.bike-characters > table td:nth-child(1) {
    font-weight: bold;
}

div.bike-card > div.bike-characters > table td:nth-child(2) {
    text-align: right;
}

/* Блок заказа */
section.order {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    background-image: url(../img/order.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section.order > div.order-list {
    justify-self: center;
}

section.order > div.order-list > form.order-list-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 100%;
    padding: 10px; 
    background-color: #ffffff;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 8px solid rgba(200,200,200,0.2);
    border-radius: 10px;
    -moz-background-clip: border;     
    -webkit-background-clip: border;  
    background-clip: border-box;      
}

section.order > div.order-list > form.order-list-form > div.order-list-caption{
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
    color: rgb(250, 149, 211);
}

section.order > div.order-list > form.order-list-form > div.submit-order-block {
    padding: 15px;
    text-align: center;
}

.submit-order-button {
    padding: 15px 10px;
    background-color: rgb(250, 149, 211);
    font-size: 1em;
    color: #ffffff;
    font-family: Arial, Tahoma;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(139, 36, 100);
    cursor: pointer;
    border-radius: 4px;
}

/* Ссылки на социальные сети */
section.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

section.social-links ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section.social-links ul li {
    float: left;
    margin: 15px;
}

section.social-links ul li a {
    cursor: pointer;
}

/* Контакты */
section.contacts {
    text-align: center;
}

section.contacts span.city {
    color: #666;
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, Tahoma;
    text-transform: uppercase;    
}

section.contacts span.street {
    color: #666;
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, Tahoma;
    text-transform: uppercase;
}

section.contacts span.phone {
    color: rgb(250, 149, 211);
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
}

/* Подвал */
footer {
    text-align: center;
    margin-top: 25px;
    background-color: #333;
    padding: 15px;
}

footer > span.footer-copyright {
    color: #ffffff;
    font-size: 1em;
    font-family: Arial, Tahoma;
}